.header {
  background-color: rgb(240, 57, 57);
  height: 10rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact {
  margin-left: 2rem;
}

@media (max-width: 500px) {
  .navigation a {
    background: none;
    box-shadow: none;
    padding: 0;
    display: block;
    text-align: right;
  }
}
