.book {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 40rem;
  border-radius: 5px;
  margin: 3rem auto;

  display: flex;
  flex-direction: column;
}

.book h1 {
  /* height: 5rem; */
  font-size: 2rem;
}

.book img {
  display: block;
  width: 25rem;
  margin: 0 auto;
}

.format {
  font-size: 1.2rem;
}
.published {
  font-size: 1.2rem;
}
.description {
  font-size: 1.4rem;
  margin: auto;
}

.btn {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.6rem;
}
