.form {
  width: 80rem;
  margin: 5rem auto;
  padding: 3rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.form p {
  font-size: 1.6rem;
}

.form input,
.form textarea {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  font: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.form input:focus,
.form textarea:focus {
  box-shadow: 0 0 4px rgba(180, 31, 31, 0.8);
}

.form button {
  cursor: pointer;
  display: inline-block;
  font: inherit;
  background-color: brown;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  font-size: 2rem;
  color: #fff;
  transition: all 0.2s;
}

.form button:hover {
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
}

.confirmation {
  animation: fade 1s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
